:root{
    --primary-color: #ffffff;
    --secondary-color: #f0f0f0;
    --tertiary-color: rgba(227,227,232,255);
    --text-color: #000000;
    --primary-accent-color: #007aff;
    --secondary-accent-color: #35c759;
    --gray-color: rgb(235, 235, 235);
}
*{
    box-sizing: border-box;
}
html{
    height: 800px;
    width: 325px;
    border-radius: 7px;
    margin: 0 auto;
}
body{
    font-family: SF Pro Text, Helvetica Neue, sans-serif;

    background-color: var(--primary-color);
    color: var(--text-color);
    height: 100%;
    width: 100%;

}
h1,
h2,
p{
    margin: 0;
}

.v-width-spacing{
    width: 95%;
    margin: 0 auto;
}

button{
    cursor: pointer;
    background-color: var(--primary-color);
    outline: none;
    border: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}
.app-container{
    display: grid;
    max-block-size: 100%;
    scroll-behavior: smooth;
    grid-template-columns: repeat(4,minmax(78px,1fr));
}
.app-grid-img{
    width: 54px;
    height: 54px;

    display: inline-block;
    position: relative; 
}

/* Grid Items */
.app-wide-item{
    grid-column-start: 1;
    grid-column-end: 5;

    align-self: center;
}
.app-title-item{
    font-size: 1.2rem;
    font-weight: 600;

    padding: 10px;
}
.app-grid-item{
    inline-size: 78px;
    padding: 12px;
    width: 78px;

    border-radius: 14px;
}
.gray-border{
    outline: var(--gray-color) 1px solid;
    border-radius: 10px;
}
#notes > img{
    border-radius: 14px;    
}
.app-grid-item-name{
    margin-top: 6px;
    margin-left: -10px;
    margin-right: -10px;

    color: #58585a;
    font-family: SF Pro Text,Helvetica Neue,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    -webkit-margin-before: 6px;
    margin-block-start: 6px;
    margin-inline: -10px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.is-highlighted{
    background-color: rgba(170, 170, 174, .2);
}

.icloud-menu-item{
    display: flex;
    align-items: center;

    border-radius: 7px;
}
.symbol-icon{
    height: 24.6847px;
    width: 41.8425px;
}